menu "UART"

# https://docs.zephyrproject.org/latest/services/logging/index.html#logging-in-a-module
module = APP_UART
module-str = UART
source "subsys/logging/Kconfig.template.log_config"

endmenu # UART