/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nrf52840dk board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
};

&gpio0 {
	status = "okay";
};
