/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nrf52840dk board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {
    aliases {
		datauart = &usart1;
	};

	gpio_keys {
		compatible = "gpio-keys";
		debounce-interval-ms = <100>;
	};
};

&gpioa {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};